:root{
	--sidebar-background-color:#fff0cf;
	--sidebar-active-background-color:#bf5900;
	--dark-brown-color:#743f09;
	--dark-brown-color2:#553622;
	--ligt-brown-color:#d0c0b0;
	--light-brown-color:#9e7853;
	--dark-orange-color:#be5900;
	--orange-color1:#ca7731;
	--orange-color2:#ff8722;
}
html,body{height:100% !important;}
headbar>nav>div>div{float:left;height:50px;}
.navbar{background-color:white !important;color:black;}
.navbar-toggler-icon1 {
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 50 50'%3e%3cpath stroke='rgba%281, 2, 2, 1.0%29' stroke-linecap='round'  stroke-miterlimit='10' stroke-width='4' d='M4 17h28M4 26h28M4 36h28'/%3e%3c/svg%3e");
  background-repeat:no-repeat;
  /*border:1px solid green;*/
  height:50px;
  width:50px;
  display:inline-block;
  font-size:25px;margin-left:20px;
}
header{
	/*border:1px solid black;*/
}
header>nav,header>nav>div.container-fluid{
	padding:0px !important;
	margin:0px !important;
}
header ul{
	list-style:none;
	display:inline-flex;
	margin-bottom:0px;
}
header ul>li{
	border-left:1px solid #e2e2e2;
	padding:5px 15px;
}

.fa-caret-circle-down:before {
  content: "\f13a"; }

.fa-caret-square-left:before {
  content: "\f191"; }

.fa-caret-square-right:before {
  content: "\f152"; }

.fa-caret-square-up:before {
  content: "\f151"; }
.dashboard-icon{
	width:50px;
	height:50px;
	
	//border:1px solid black;
	display:inline-flex;
}
div.breadcum{
	
}
.breadcrum>p{
	font-size:18px;
	font-weight:600;
	margin:15px 0px 5px 35px;
}
.breadcrum>span{
	font-size:15px;
	margin-left:35px;
	color:#8d8d8d;
}
.breadcrum>span>span.username{
	
	font-weight:500;
}
.breadcrum>p>span.separator{
	color:#c38a08;
}
.breadcrum>p>span.sub-page{
	color:grey;
	font-size:17px;
}
.card{
	background-color:transparent;
	border-width:0px;
	/*min-width:250px;*/
}
.card>div{
	background-image: linear-gradient(#7becf0 , #b2b2ee);height:130px;border-radius:12px;padding:10px 0px 0px 20px;
}
.card>div>p.title{font-size:22px;font-weight:600;padding:0px 0px 0px 0px;margin-bottom:0px;}
.card>div>p.figure{font-size:30px;font-weight:600;padding:0px 0px 0px 0px;margin-top:-10px;}
.card1>div{background-image: linear-gradient(#7becf0 , #b2b2ee);height:290px;border-radius:12px;padding:10px 0px 0px 0px;margin-top:20px;}
.card1>div>h6{text-align:center;}
.card1>div>p{border:0px solid red;margin-left:0px;}
.card.lg1>div{
background-image:linear-gradient(#00ff3365 , #310cb850);
}
.card.lg2>div{background-image: linear-gradient(#f3e285 , #ff9f0f69);}
.card.lg3>div{background-image: linear-gradient(#fd7184 , #eb2f2fb0);}
.card.lg4>div{background-image: linear-gradient(#f07b7bb2 , #ffcf4bcb);}
.card.lg5>div{background-image: linear-gradient(#9bb6fd98 , #47c6eca4);}
.card.lg6>div{background-image: linear-gradient(#a54de09f , #fae678c2);}
.row{
	margin-top:10px;
	margin-bottom:10px;
}
.col-md-4{
	margin-top:10px;
	margin-bottom:10px;
}
.kgs-select{
	border:0px;border-radius:11px;padding:2px 6px 4px 7px;font-size:12px;font-weight:700;float:right;margin:10px 20px 0px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1>div>p>span.score-text{
	background-image: linear-gradient(to right, #c6faf8 , white);border:0px solid red;
	width:calc(70% - 10px);
    width:-moz-calc(70% - 10px);
    width:-webkit-calc(70% - 10px);
	display:inline-block;border-radius:0px 5px 5px 0px;height:30px;padding:3px 0px 0px 15px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1>div>p>span.score-figure{
	background-image: linear-gradient(to right, white, #c6faf8 );border:0px solid red;
	width:calc(30% - 10px);
    width:-moz-calc(30% - 10px);
    width:-webkit-calc(30% - 10px);
	display:inline-block;float:right;display:inline-block;border-radius:5px 0px 0px 5px;height:30px;padding:3px 0px 0px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content{
/*background-color:#e2e2e2;	*/
	
	width:calc(100% - 250px);
    width:-moz-calc(100% - 250px);
    width:-webkit-calc(100% - 250px);;
}
/* animation */
.collapsing.collapse-horizontal2 {
  width:calc(100% - 80px);
  width:-moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  overflow:hidden;
  height:100%;
  transition: width 0.35s;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal2{
	transition: none;
  }
}

.collapsing.sidebar {
  width: 80px;
  overflow:hidden;
  height:100%;
  transition: width 0.35s ease;
}
.sidebar.collapse:not(.show){
	display:inline;
	width:80px;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.sidebar{
	transition: none;
  }
}



.collapse-horizontal2:not(.show) {
    display: inline;
	/*width:calc(30% - 10px);
    width:-moz-calc(30% - 10px);
    width:-webkit-calc(100% - 300px);
	/*width:100%;*/
}
.collapse-horizontal2.show{
	width:-webkit-calc(100% - 80px);
}

/* The switch - the box around the slider */
/*.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}*/

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.onoff-switch>input[type=checkbox]{opacity:0;width:100px;height:34px;border:1px solid green;position:absolute;}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.left-on{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:white;
	color:red;
	padding:3px 10px;
	cursor:pointer;
	font-weight:bold;
}
.right-off{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow: -2px -2px 2px #d70909 inset;
	background-color:red;
	color:white;
	padding:3px 10px;
	cursor:pointer;
	font-weight:bold;
}
input:checked ~ span.right-off{
	background-color:white;
	box-shadow: -2px -2px 2px white inset;
	color:#bdb8b8;;
}
input:checked + span.left-on{
	background-color:#1ca90b;;
	box-shadow: 2px 2px 2px #147a07 inset;
	color:white;
}

.kbtn{width:100px;}
.kgsbtn{text-align: center;
    width: 186px;
    background-color: #E2F0FF;
    font-size: 1.0rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #cfcdcd inset;
    margin-right: 10px;
	width:100px;
	color:black;
	color:white;font-weight:bold;
}
.kgsbtn-success:focus,.kgsbtn-success:hover{
	background-color:#166d44;
	color:white;
	box-shadow: 2px 2px 2px #0a580a inset;
}
.kgsbtn-success{
	outline: 0;
    box-shadow: 2px 2px 2px 2px #127245 inset;
    color: white;
    background-color: #198754;
}
.kgsbtn-update:focus,.kgsbtn-update:hover{
	background-color: #3887a1;
    color: white;
    box-shadow: 2px 2px 2px #2b6579 inset;
}
.kgsbtn-update{
	background-color:#429fbd;
	box-shadow: 2px 2px 2px #117fa2 inset;
}
.kgsbtn-delete{
	background-color:#b71f1f;
	box-shadow: 2px 2px 2px #820808 inset;
}
.kgsbtn-delete:focus,.kgsbtn-delete:hover{
	background-color: #9f1c1c;
	color:white;
    box-shadow: 2px 2px 2px #700909 inset;
}
.kgsbtn-clear{
	background-color: #e7e41d;
	color:white;
    box-shadow: 2px 2px 2px #bab70e inset;
}
.kgsbtn-clear:focus,.kgsbtn-clear:hover{
	background-color: #999711;
    color: white;
    box-shadow: 2px 2px 2px #7f7d0f inset;
}
.kgsdropdown,.kgsdropdown>option{
	margin:0px;
	height:33px;
	border-radius:0px;
	background-color:transparent;
}.kgsdropdown:focus-visible{
	outline:none;
}
.notifications{
	/*border:1px solid rgb(53, 52, 52);*/
	position:absolute;
	/*background-color: white;*/
	padding:0px;
	right:10px;
	font-weight:400;
	font-size:14px;
	border-radius:10px;
	/*width:321px;*/
	z-index:10;

}
.notifications>div:nth-child(1){font-size:11px;font-weight:500;z-index:12;padding:10px 10px 10px 10px;}
.notifications>div:nth-child(1)>span:nth-child(1){float:left;}
.notifications>div:nth-child(1)>ul{z-index:6;}
.notifications>div:nth-child(1)>span:nth-child(2){float:right;}
.notifications>ul{list-style:circle;margin:0px 20px 20px 20px;display: block;padding:0px;}
.notifications>ul>li{margin-bottom:4px;padding-bottom:8px;margin-left:30px;border:0px;border-bottom:1px solid rgb(73, 73, 73);}
.notifications>ul>li:last-child{border-bottom:0px;}
.notifications>ul>li:hover{color:orange;cursor: pointer;}
.notifications>ul>li>i{float:right;}

.tranparent-background{position:absolute;z-index:-100;background-color:white;width:100%;height:100%;opacity:0.7;top:0px;border-radius:10px;}

mytrans{
	width:200px;
	transition: width 2s ease;
}
.collapsing.collapse-horizontal-vertical{
	height:60px;
	width: 0px;
	overflow: hidden;
	transition: height 0.35s , width 0.35s;	
}
.main-title{float:right;color:#664c40;font-size:18px;font-weight:bolder;text-align:middle;height:40px;padding-top:14px;padding-left:10px;}
.right-option-bar{
	float:left;
}
.right-option-bar>ul{text-decoration:none;font-size:20px;}
.right-option-bar>ul>li:nth-child(1)>span:nth-child(1),.right-option-bar>ul>li:nth-child(2)>span{font-size:30px;color:#242424;}
.right-option-bar>ul>li:nth-child(1)>span:nth-child(2){display:inline-block;width:12px;height:12px;border-radius:6px;background-color:red;position:relative;
	top:-18px;
	left:-10px;
	color:white;font-size:7px;font-weight:800;padding:1px 3px 0px 4px;}
.right-option-bar>ul>li:nth-child(3)>img{width:40px;height:40px;background-color:grey;border:0px;border-radius:20px;}
.menuoptions{
	position:absolute;
	font-weight:500;
	font-size:12px;
	right:10px;
	border-radius:10px;
	z-index:10;
	display: block;
	width:170px;
	padding:0px;
	color:rgb(41, 41, 41);
}
.menuoptions>ul{display: block;overflow: hidden;padding:0px;border:0px;margin:20px;}
.menuoptions>ul>li>a{color:black;}
.menuoptions>ul>li{text-align: left;border-bottom: 1px solid rgb(73, 72, 72);padding:8px 5px 8px 0px;border:0px;border-bottom:1px solid rgb(126, 124, 124);}
.menuoptions>ul>li:last-child{border-bottom:0px;}
.menuoptions>ul>li>a:hover,.menuoptions>ul>li:hover>a,.menuoptions>ul>li:hover{color:orange;cursor:pointer;}
[type=search] {outline-offset: 0px;}
.loader-body{
	background-color:white;
	opacity:1.0;
	width:100%;
	height:100%;
	z-index:4;
	position:absolute;
}
.loader{
	background-color:white;
	opacity:1.0;
	width:150px;
	height:150px;
	z-index:4;
	border-radius:50%;
	border:20px solid rgb(207, 205, 205);
	border-top:20px solid green;
	margin:0px auto;
	position:relative;
	top:40%;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
label.error-label{
	padding:4px 10px;
	border-radius:5px;
	/*border:2px solid rgb(240, 160, 160);*/
	margin:0px auto;
	margin-top:5%;
	width:100%;
	background-color: red;height:36px;}

.file-input::-webkit-file-upload-button{
	visibility: hidden;
	border:1px solid green;
	
}
.file-input{border: 1px solid var(--bs-dark-orange);border-radius:5px;width:100%;text-align: right;}
.file-input::before {
	content: 'Update Cow Image';
	display: inline-block;
	background: linear-gradient(top, #359c46, #08fa44);
	background-color: var(--bs-dark-orange);
	border: 1px solid var(--bs-dark-orange);
	border-radius: 3px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	/*text-shadow: 1px 1px #fff;*/
	font-weight: 700;
	font-size: 10pt;
	color:white;
  }
  .file-input:hover::before {
	/*border-color: black;*/
  }
  .file-input:active::before {
	/*background: -webkit-linear-gradient(top, #359c46, #08fa44);*/
  }
  ul.search-result-list{
	background-color: white;
	list-style:none;
	width:100%;
	padding-left:5px;
	border-radius: 10px;
	color:rgb(56, 56, 56);
	font-size:1.0rem;
	max-height:250px;
	overflow-y: scroll;
	font-weight:500;
	position:relative;
	top:-13px;
	display:none;
  }
  ul.search-result-list>li{margin-left:1px;padding:2px 5px;border-radius: 2px;}
  ul.search-result-list>li:hover{background-color:var(--bs-dark-orange);color:white;}
  ::-webkit-scrollbar {
	width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: var(--bs-dark-orange);
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: var(--bs-dark-orange2);
  }

  .cp-link{color:orange;}

  div.footer-row{background-color:#e2e2e2; height:50px;padding:0px;margin-bottom:0px;}